body{
    background-color:$bg-D5FDD6;
}
.block{
    display: $flex;
    min-height: 100vh;
    height:100%;
    //background-color: $bg-black;

    .nav-link{
        background-color:$bg-white;
        color:$co-013002;
        border:1px dashed $br-013002;
        &.active{            
            background-color:$bg-013002;            
            color:$co-white;
            border:none;
        }
    }
    .tab-content{
        background-color:$bg-013002;
        color:$co-white;
        .tab-pane{
            padding:60px 70px;
        }
    }
    .btn-primary{
        background-color:$bg-013002;
        color:$co-white;
        border:1px dashed $br-white;
        &:hover{
            background-color:$bg-white;
            color:$co-013002;
            border:none;
        }
    }
}
.bg-dark{
    background-color: $bg-013002!important;
}