// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//bg-color
$bg-black:#000;
$bg-white:#fff;
$bg-D5FDD6 :#D5FDD6 ;
$bg-013002 :#013002;

//Color
$co-white: #fff;
$co-013002 :#013002;

// Border color
$br-013002 : #013002;
$br-white : #fff;

// positions
$flex: flex;
$block: block;
